:root {
  --primay: black;
  --bg-primay: white;
  text-align: center;
  padding: 20px;

  --link: #2a0b0b;
}
.setting-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 13px;
  top: 13px;
  padding: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}